Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{js,json,scss}": "prettier --write"
}

fix
  src/layout/collection/index.tsx
  src/layout/top-bar/collection-title.tsx
  src/providers/collection/index.tsx
  src/providers/collection/reducer.ts
  src/providers/index.ts
  src/providers/main/index.tsx
  src/routes/dashboard/index.tsx
Due: none

fixes
  scripts/svg-classes/svg.ts
  src/layout/collection/card/card-content.tsx
  src/layout/collection/card/card-svg.ts
  src/layout/collection/card/cors-restricted-actions.tsx
  src/layout/collection/card/default-actions.tsx
  src/layout/collection/card/index.tsx
  src/layout/collection/index.tsx
  src/layout/export-panel/footer.tsx
  src/layout/export-panel/index.tsx
  src/layout/export-panel/png-settings/index.tsx
  src/layout/export-panel/svg-settings/index.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/export-panel/use-export-actions.ts
  src/providers/export/reducer.ts
  src/utils/form-utils.ts
  tsconfig.json
  tsconfig.node.json
Due: prettier --write

update
  src/components/empty-state.tsx
  src/components/no-results.tsx
  src/layout/collection/index.tsx
  src/layout/top-bar/size-select.tsx
  src/layout/top-bar/view-popover.tsx
  src/providers/collection/reducer.ts
Due: none

progress
  package.json
  scripts/svg-classes/image.ts
  scripts/svg-classes/svg.ts
  src/data/svgo.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/export-panel/footer.tsx
  src/layout/export-panel/index.tsx
  src/layout/export-panel/svg-settings/index.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/export-panel/use-export-actions.ts
  src/providers/export/reducer.ts
  src/utils/form-utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

so fun
  scripts/svg-classes/image.ts
  scripts/svg-classes/svg.ts
  src/hooks/use-upload.ts
  src/layout/collection/card/card-content.tsx
  src/layout/collection/card/card-svg.ts
  src/layout/collection/card/index.tsx
  src/layout/main-bar/index.tsx
  src/layout/main-bar/main-actions/index.tsx
  src/layout/main-bar/main-actions/use-main-actions.ts
  src/layout/main-bar/selection-control.tsx
  src/layout/sidebar/new-collection-modal/use-create-collection.ts
  src/layout/sidebar/use-remove-collection.ts
  src/layout/top-bar/view-popover.tsx
  src/providers/collection/reducer.ts
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
  src/utils/lz-string.ts
  src/utils/storage-utils.ts
Due: none

duh
  index.html
  src/routes/details/index.tsx
Due: none

tweaks
  package.json
  src/components/index.ts
  src/components/tabs.tsx
  src/components/toast.tsx
  src/hooks/use-upload.ts
  src/routes/dashboard/index.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fixes
  src/layout/collection/card/default-actions.tsx
  src/layout/export-panel/footer.tsx
  src/layout/export-panel/png-settings/index.tsx
  src/layout/export-panel/use-export-actions.ts
  src/providers/export/reducer.ts
  src/utils/form-utils.ts
Due: none

cleanup
  package.json
  src/components/button.tsx
  src/components/empty-state.tsx
  src/components/index.ts
  src/components/menu.tsx
  src/components/modal.tsx
  src/constants.ts
  src/css/alias.css
  src/css/components.css
  src/layout/sidebar/collection-item.tsx
  src/layout/sidebar/new-collection-modal/index.tsx
  src/layout/sidebar/new-collection-modal/use-submit-form.ts
  src/layout/sidebar/use-remove-collection.ts
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
  src/layout/top-bar/size-select.tsx
  src/layout/top-bar/sort-menu.tsx
  src/layout/top-bar/upload-modal.tsx
  src/layout/top-bar/view-popover.tsx
  yarn.lock
Due: prettier --write

progress
  scripts/svg-classes/presentation-svg.ts
  src/css/components.css
  src/layout/collection/card/default-actions.tsx
  src/layout/collection/index.tsx
  src/layout/main-panel.tsx
  src/layout/main-panel/index.tsx
  src/providers/collection/reducer.ts
Due: none

checkpoint
  scripts/svg-classes/presentation-svg.ts
  src/layout/collection/card/cors-restricted-actions.tsx
  src/layout/collection/card/default-actions.tsx
  src/layout/collection/card/index.tsx
Due: none

updaet
  src/App.tsx
  src/providers/collection/reducer.ts
  src/routes/details/index.tsx
  src/routes/index.ts
  src/routes/settings/loader.ts
Due: none

better
  src/layout/collection/skeleton-collection.tsx
  src/layout/top-bar/size-select.tsx
  src/providers/collection/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/root/index.tsx
Due: none

modal
  scripts/gather-page-data.ts
  scripts/init.ts
  src/components/modal.tsx
  src/css/components.css
  src/layout/settings/about-settings.tsx
  src/layout/sidebar/review-modal.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/utils/chrome-utils.ts
Due: none

plugins
  src/components/modal.tsx
  src/data/svgo-plugins.ts
  src/data/svgo.ts
  src/layout/export-panel/svg-settings/index.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/sidebar/use-remove-collection.ts
  src/layout/top-bar/collection-title.tsx
  src/providers/export/reducer.ts
  src/routes/dashboard/loader.ts
  src/routes/root/loader.ts
  src/utils/storage-utils.ts
Due: none

update
  src/data/links.ts
  src/index.tsx
  src/layout/settings/about-settings.tsx
  src/layout/sidebar/review-modal.tsx
Due: none

it's broken no idea wy
  manifest.json
  src/layout/export-panel/svg-settings/index.tsx
  src/layout/export-panel/svg-settings/reset-button.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/settings/export-settings.tsx
  src/layout/settings/index.tsx
  src/providers/export/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
Due: prettier --write

fixes
  src/data/svgo-plugins.ts
  src/hooks/use-upload.ts
  src/layout/export-panel/svg-settings/reset-button.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/main-bar/main-actions/use-main-actions.ts
  src/providers/export/reducer.ts
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
  src/utils/storage-utils.ts
Due: none

progress
  LICENSE
  src/data/svgo-plugins.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/export-panel/svg-settings/reset-button.tsx
  src/layout/settings/category.tsx
  src/layout/settings/export-settings.tsx
  src/routes/details/loader.ts
Due: none

progress
  scripts/gather-page-data.ts
  scripts/svg-classes/g-element.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/details/index.tsx
  src/routes/details/loader.ts
  src/utils/svg-factory-checker.ts
Due: none

updates
  scripts/gather-page-data.ts
  src/layout/sidebar/review-modal.tsx
Due: none

add stuff
  scripts/gather-page-data.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/symbol.ts
  src/data/svgo-plugins.ts
  src/layout/collection/card/card-content.tsx
  src/layout/export-panel/svg-settings/reset-button.tsx
  src/layout/export-panel/svg-settings/svgo-option.tsx
  src/layout/top-bar/size-select.tsx
  src/utils/svg-factory-checker.ts
Due: none

progress
  index.html
  scripts/svg-classes/image.ts
  src/css/base.css
  src/hooks/use-resize.ts
  src/layout/collection/index.tsx
  src/layout/details/export-sidebar.tsx
  src/layout/details/index.tsx
  src/layout/details/preview-sidebar.tsx
  src/routes/collection/loader.ts
  src/utils/logger.ts
  src/utils/svg-factory-checker.ts
Due: none

progress
  package.json
  src/css/base.css
  src/layout/details/export-sidebar.tsx
  src/layout/details/index.tsx
  src/layout/details/preview-sidebar.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/providers/details/reducer.ts
  src/routes/collection/index.tsx
  src/routes/details/index.tsx
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

vite 5.0
  package.json
  yarn.lock
Due: prettier --write

progress
  package.json
  src/layout/details/editor/index.tsx
  src/layout/details/editor/use-optimize.ts
  src/layout/details/export-sidebar.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/header/index.tsx
  src/layout/details/index.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/layout/details/use-resize.ts
  src/providers/details/reducer.ts
  yarn.lock
Due: prettier --write

progress
  src/layout/details/editor/index.tsx
  src/layout/details/editor/use-optimize.ts
  src/layout/details/index.tsx
Due: none

progress
  src/layout/details/editor/index.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/preview-sidebar/index.tsx
Due: none

working
  package.json
  src/css/components.css
  src/layout/details/editor/index.tsx
  src/layout/details/header/index.tsx
  yarn.lock
Due: prettier --write

holy shit that was too hard
  src/css/base.css
  src/hooks/use-resize.ts
  src/layout/details/editor/index.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/routes/details/index.tsx
Due: none

looking good
  src/css/components.css
  src/layout/details/editor/action-bar.tsx
  src/layout/details/editor/index.tsx
  src/layout/details/editor/use-optimize.ts
  src/layout/details/index.tsx
  src/providers/details/reducer.ts
Due: none

progress
  package.json
  src/App.tsx
  src/hooks/use-resize.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/details/editor/action-bar.tsx
  src/layout/details/editor/use-optimize.ts
  src/layout/details/header.tsx
  src/layout/details/header/index.tsx
  src/layout/details/index.tsx
  src/providers/details/reducer.ts
  src/routes/details/loader.ts
  src/types.ts
  yarn.lock
Due: prettier --write

progress
  package.json
  src/components/tabs.tsx
  src/layout/collection/card/default-actions.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/header.tsx
  src/layout/details/preview-sidebar/data-uri.tsx
  src/layout/details/preview-sidebar/index.tsx
  yarn.lock
Due: prettier --write

about to break things
  src/data/links.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/preview-sidebar/data-uri.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/routes/details/loader.ts
  src/types.ts
  src/utils/storage-utils.ts
Due: none

fixed
  scripts/gather-page-data.ts
  scripts/init.ts
  scripts/svg-classes/g-element.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/inline.ts
  scripts/svg-classes/svg.ts
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/App.tsx
  src/hooks/use-upload.ts
  src/layout/collection/card/default-actions.tsx
  src/layout/details/header.tsx
  src/layout/main-bar/main-actions/use-main-actions.ts
  src/layout/sidebar/new-collection-modal/use-create-collection.ts
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/size-select.tsx
  src/layout/top-bar/sort-menu.tsx
  src/layout/top-bar/view-popover.tsx
  src/providers/details/reducer.ts
  src/routes/collection/loader.ts
  src/routes/details/loader.ts
  src/routes/root/loader.ts
  src/types.ts
Due: none

update
  src/components/empty-state.tsx
  src/layout/details/header.tsx
Due: none

root loader
  scripts/svg-classes/g-element.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/inline.ts
  scripts/svg-classes/svg.ts
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/hooks/use-upload.ts
  src/routes/details/loader.ts
  src/routes/root/index.tsx
  src/routes/root/loader.ts
  src/types.ts
Due: none

progress
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/layout/details/editor/action-bar.tsx
  src/layout/details/preview-sidebar/data-uri.tsx
  src/layout/export-panel/use-export-actions.ts
  src/routes/root/index.tsx
  src/routes/root/loader.ts
  src/routes/settings/loader.ts
  src/types.ts
  src/utils/storage-utils.ts
  src/utils/svg-utils.ts
Due: none

oops
  scripts/svg-factory.ts
  src/layout/collection/index.tsx
  src/layout/details/preview-sidebar/data-uri.tsx
Due: none

cleanup
  src/components/empty-state.tsx
  src/hooks/index.ts
  src/layout/collection/upload-modal.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/types.ts
Due: none
