Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{js,json,scss}": "prettier --write"
}

cleanup
  src/build/components/footer/index.tsx
  src/build/components/footer/logo.tsx
  src/build/components/footer/social-media-links.tsx
  src/build/components/generic/tooltip.tsx
  src/build/components/index.ts
  src/build/components/modals/paste-modal.tsx
  src/build/components/navbar/index.tsx
  src/build/components/navbar/logo.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/toolbar/loading-toolbar.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
Due: none

Update README.md
  README.md
Due: none

small refactor
  README.md
  src/background.ts
  src/scripts/load-dev-icon.ts
  src/scripts/load-welcome-screen.ts
Due: none

refactor
  src/find/SVG.ts
  src/find/find-svgs.ts
  src/find/process-elements.ts
Due: none

more refactors
  src/find/SVG.ts
Due: none

refactors
  src/build/pages/index.tsx
  src/build/providers/data-provider.tsx
  src/build/providers/helpers.ts
  src/build/providers/options-provider.tsx
  src/build/providers/theme-provider.tsx
Due: none

sticky header
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/gallery-frame.tsx
  src/build/components/gallery/loading-gallery.tsx
  src/build/components/navbar/index.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/toolbar/location.tsx
  src/build/components/toolbar/theme-toggle.tsx
  src/build/components/toolbar/toolbar-frame.tsx
Due: none

fixesupdates
  package.json
  src/background.ts
  src/build/components/card/card-action-menu.tsx
  src/build/components/drawer/index.tsx
  src/build/components/toolbar/theme-toggle.tsx
  src/find/SVG.ts
Due: prettier --write

update
  src/find/SVG.ts
Due: none

fix fart
  src/pages/index.html
Due: none

updates
  src/background-scripts/execute-script.ts
  src/background-scripts/find-svgs.ts
  src/background-scripts/index.ts
  src/background-scripts/load-dev-icon.ts
  src/background-scripts/load-welcome-screen.ts
  src/background.ts
  src/find/process-elements.ts
Due: none

update
  src/background-scripts/execute-script.ts
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/card-footer.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/helpers.ts
  src/build/types.ts
  src/process/SVG.ts
  src/process/process-elements.ts
Due: none

update
  src/background.ts
  src/background/execute-script.ts
  src/background/find-svgs.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/background/index.ts
  src/background/load-dev-icon.ts
  src/background/load-welcome-screen.ts
Due: none

update
  src/background/execute-script.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/background/helpers.ts
  src/background/index.ts
Due: none

updates
  src/background.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/process/process-elements.ts
  src/scripts/find-svgs.ts
  src/scripts/helpers.ts
  src/scripts/index.ts
  src/scripts/launch-extension.ts
  src/scripts/load-dev-icon.ts
  src/scripts/load-welcome-screen.ts
Due: none

make isValid work
  src/process/SVG.ts
Due: none

cover descendants and PARENT in the DOM tree
  src/process/SVG.ts
Due: none

launch index.html
  background.ts
  manifest.json
  scripts/index.ts
  scripts/launch-svg-gobbler.ts
  src/App.tsx
  vite.config.ts
Due: prettier --write

mainpanel
  src/App.tsx
  src/layout/dashboard.tsx
  src/layout/main-panel.tsx
  src/providers/index.tsx
  src/providers/mainpanel/index.tsx
  src/providers/mainpanel/reducer.ts
Due: none

progress
  scripts/gather-page-data.ts
  scripts/svg-factory/g-element.ts
  scripts/svg-factory/image.ts
  scripts/svg-factory/inline.ts
  scripts/svg-factory/svg-factory.ts
  scripts/svg-factory/svg.ts
  scripts/svg-factory/symbol.ts
  src/App.tsx
  types.ts
Due: none

checkpoint
  README.md
  src/App.tsx
  src/layout/top-bar/index.tsx
Due: none

progress
  archive/.eslintrc.js
  archive/SVG.ts
  archive/background.ts
  archive/process/process-elements.ts
  scripts/svg-factory/svg-factory.ts
  scripts/svg-factory/svg.ts
Due: eslint --fix, prettier --write

update
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/card-footer.tsx
  src/build/components/card/index.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/svgo-configs.ts
Due: none

progress
  src/layout/collection/card/index.tsx
  src/layout/collection/index.tsx
  src/layout/top-bar/index.tsx
  src/layout/top-bar/size-select.tsx
  src/providers/main-panel/reducer.ts
  src/providers/top-bar/reducer.ts
Due: none

ok i can't see
  src/layout/main-panel.tsx
  src/layout/top-bar/index.tsx
  src/layout/top-bar/main-panel-btn.tsx
  src/layout/top-bar/theme-btn.tsx
  src/providers/index.ts
  src/providers/main-panel/index.tsx
  src/providers/main-panel/reducer.ts
  src/providers/top-bar/index.tsx
  src/providers/top-bar/reducer.ts
Due: none

update
  src/build/components/drawer/code-view-header.tsx
  src/build/components/utils/actions.ts
Due: none

fixup
  src/build/components/drawer/drawer-content.tsx
  src/find/SVG.ts
Due: none

dark
  index.html
  src/base.css
  src/layout/collection/index.tsx
  src/layout/dashboard.tsx
  src/layout/main-bar/index.tsx
  src/layout/main-panel.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
Due: none

functioning sidebar
  .eslintrc.cjs
  index.html
  package.json
  src/App.tsx
  src/layout/dashboard.tsx
  src/layout/main.tsx
  src/layout/sidebar/index.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar.tsx
  src/providers/index.tsx
  src/providers/sidebar/index.tsx
  src/providers/sidebar/reducer.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

theme
  manifest.json
  src/components/logo.tsx
  src/components/tooltip.tsx
  src/hooks/index.ts
  src/hooks/use-color-mode.ts
  src/layout/dashboard.tsx
  src/layout/top-bar/index.tsx
Due: prettier --write

icon set
  .eslintrc.cjs
  background.ts
  manifest.json
  package.json
  scripts/index.ts
  scripts/set-extension-icons.ts
  yarn.lock
Due: prettier --write

tooltips
  package.json
  src/components/empty-state.tsx
  src/components/icon-button.tsx
  src/components/index.ts
  src/components/tooltip.tsx
  src/layout/main-bar.tsx
  src/layout/main-bar/index.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar.tsx
  src/layout/top-bar/index.tsx
  yarn.lock
Due: prettier --write
