Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{js,json,scss}": "prettier --write"
}

Localize to it - Italian (#117)
  extension/_locales/it/messages.json
Due: prettier --write

update branch to main
  src/find/index.tsx
Due: none

improve menu behavior
  src/build/components/card/card-action-menu.tsx
Due: none

fix dep vulns
  package-lock.json
Due: prettier --write

tone back permissions
  extension/manifest.json
Due: prettier --write

Updates
  README.md
  extension/background.js
  extension/manifest.json
  extension/welcome.html
  package-lock.json
  package.json
  src/build/components/card/card-action-menu.tsx
Due: eslint --fix, prettier --write

Add paste modal
  extension/_locales/en/messages.json
  extension/manifest.json
  package.json
  src/build/components/modals/paste-modal.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/utils/upload.ts
Due: prettier --write

Introduce React Context
  package.json
  src/build/components/gallery/index.tsx
  src/build/components/generic/drop-zone-target.tsx
  src/build/components/generic/drop-zone.tsx
  src/build/components/navbar/index.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
  src/build/providers/data-provider.tsx
  src/build/providers/location-provider.tsx
  src/build/providers/theme-provider.tsx
  src/build/providers/utils.ts
  src/build/theme/theme-provider.tsx
  src/build/theme/theme.ts
Due: prettier --write

Remove testing ground
  extension/manifest.json
  package.json
  testing/happy.svg
  testing/index.html
  testing/style.css
Due: prettier --write

3.14
  extension/_locales/en/messages.json
  extension/manifest.json
  package.json
  src/build/components/drawer/react/reactify.ts
  src/build/components/footer/copyright.tsx
  src/build/providers/location-provider.tsx
Due: prettier --write

test
  extension/manifest.json
  package.json
  src/build/providers/data-provider.tsx
Due: prettier --write

update
  README.md
Due: none

3.16
  extension/manifest.json
  package.json
  src/build/components/drawer/react/reactify.ts
Due: prettier --write

Fix
  src/find/scripts/svg-class.ts
Due: none

i18n AMO link, simplify Chrome link
  README.md
Due: none

i18n AMO link, simplify Chrome link (#123)
  README.md
Due: none

remove feedbackfish
  .gitignore
  extension/manifest.json
  package.json
  src/build/components/navbar/index.tsx
  src/find/index.tsx
  src/find/scripts/process-elements.ts
  src/find/scripts/svg-class.ts
  tsconfig.json
Due: prettier --write

updates
  extension/_locales/en/messages.json
  extension/welcome.html
  tsconfig.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

format
  src/build/components/card/card-action-menu.tsx
  src/build/components/card/index.tsx
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/footer/copyright.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/loading-gallery.tsx
  src/build/components/generic/drop-zone-target.tsx
  src/build/components/generic/drop-zone.tsx
  src/build/components/modals/filename-modal.tsx
  src/build/components/modals/image-modal.tsx
  src/build/components/modals/paste-modal.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/loading-toolbar.tsx
  src/build/components/utils/actions.ts
  src/build/pages/index.tsx
  src/build/providers/data-provider.tsx
  src/build/providers/location-provider.tsx
Due: none

initial commitprogress
  extension/background.js
  extension/manifest.json
  package.json
  src/build/components/card/card-actions.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/utils.ts
  src/build/types.ts
  src/find/async-operations.ts
  src/find/chrome-helpers.ts
  src/find/gather-elements.ts
  src/find/index.tsx
  src/find/process-elements.ts
  src/find/process-svg.ts
  src/find/svg-class.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

it functions but it's ugly
  extension/background.js
  src/build/components/gallery/index.tsx
  src/build/providers/data-provider.tsx
  src/build/types.ts
  src/find/gather-elements.ts
  src/find/process-elements.ts
  webpack.config.js
Due: eslint --fix, prettier --write

progress
  extension/background.js
  src/build/providers/data-provider.tsx
  src/build/providers/location-provider.tsx
  src/find/svg-class.ts
Due: eslint --fix, prettier --write

updates
  extension/background.js
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/utils.ts
  src/build/types.ts
  src/find/process-elements.ts
Due: eslint --fix, prettier --write

updatess
  package.json
  src/build/types.ts
Due: prettier --write

updates
  src/build/components/modals/image-modal.tsx
  src/find/process-elements.ts
Due: none

updates
  extension/index.html
  extension/manifest.json
  package.json
  src/find/chrome-helpers.ts
  tsconfig.json
Due: prettier --write

updates
  src/build/components/index.ts
  src/build/components/modals/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/theme-provider.tsx
  src/build/providers/utils.ts
  src/find/svg-class.ts
  tsconfig.json
Due: prettier --write

updates
  extension/background.js
  extension/manifest.json
  package.json
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/image-class.ts
  src/build/providers/data-provider.tsx
  src/find/process-elements.ts
Due: eslint --fix, prettier --write

checkpoint
  extension/background.js
  extension/manifest.json
  package.json
  src/build/providers/data-provider.tsx
  src/find/async-operations.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: eslint --fix, prettier --write

working better
  extension/background.js
Due: eslint --fix, prettier --write

cleanup
  src/find/process-elements.ts
  src/find/svg-class.ts
Due: none

cleanup
  src/find/async-operations.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
  src/find/svg-class.ts
Due: none

cleanup
  extension/background.js
  src/find/svg-class.ts
Due: eslint --fix, prettier --write

working better
  src/build/components/modals/image-modal.tsx
  src/find/async-operations.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
  src/find/svg-class.ts
Due: none

cleanup
  src/build/components/card/card-actions.tsx
  src/find/async-operations.ts
  src/find/svg-class.ts
Due: none

fix
  src/build/components/utils/upload.ts
Due: none

cleanup
  src/find/async-operations.ts
  src/find/process-svg.ts
  src/find/svg-class.ts
  tsconfig.json
Due: prettier --write

cleanup
  src/find/svg-class.ts
Due: none
