Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

communication added to footer (#59)
  public/extension/index.html
  src/scripts/create-ui.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

diversifying the webpack config
  public/extension/background.js
  src/scripts/create-ui.js
  webpack.js
Due: eslint --fix, prettier --write

export image functionality
  package.json
  public/extension/Archive.zip
  public/extension/index.html
  public/extension/manifest.json
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/download.js
  src/scripts/export-image.js
  src/scripts/modal.js
  src/styles/index.scss
  src/styles/modal.scss
  webpack.js
Due: eslint --fix, prettier --write

2.3
  package-lock.json
  package.json
  public/extension/Archive.zip
  public/extension/manifest.json
Due: prettier --write

remove console
  src/scripts/download.js
Due: eslint --fix, prettier --write

feat: export image functionality (#61)
  package-lock.json
  package.json
  public/extension/index.html
  public/extension/manifest.json
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/download.js
  src/scripts/export-image.js
  src/scripts/modal.js
  src/styles/index.scss
  src/styles/modal.scss
  webpack.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

formatting html
  public/extension/index.html
Due: none

add dev icon
  public/extension/background.js
  public/extension/icons/dev-icon128.png
  src/scripts/process-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

find base 64
  src/scripts/classify-svg.js
  src/scripts/find-svgs.js
Due: eslint --fix, prettier --write

find base 64 (#65)
  src/scripts/classify-svg.js
  src/scripts/find-svgs.js
Due: eslint --fix, prettier --write

remove console.logs
  src/scripts/controller.js
  src/scripts/download.js
Due: eslint --fix, prettier --write

nit
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

refactor extension folder
  extension/background.js
  extension/dist/gather.css
  extension/dist/gather.js
  extension/dist/main.css
  extension/dist/main.js
  extension/dist/main.js.LICENSE.txt
  extension/icons/dev-icon128.png
  extension/icons/favicon.ico
  extension/icons/icon128.png
  extension/icons/icon16.png
  extension/icons/icon24.png
  extension/icons/icon32.png
  extension/icons/icon48.png
  extension/index.html
  extension/manifest.json
  public/extension/index.html
  public/images/test-one.svg
  public/images/test-three.svg
  public/images/test-two.svg
  public/index.html
Due: eslint --fix, prettier --write

2.4
  extension/manifest.json
  package.json
  webpack.js
Due: eslint --fix, prettier --write

lock file
  package-lock.json
Due: prettier --write

fixes
  .gitignore
  extension/dist/gather.css
  extension/dist/gather.js
  extension/dist/main.css
  extension/dist/main.js
  extension/dist/main.js.LICENSE.txt
  package.json
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

styles updates
  extension/index.html
  src/styles/index.scss
Due: prettier --write

add persistent false
  extension/manifest.json
Due: prettier --write

stop runtime if error
  extension/background.js
Due: eslint --fix, prettier --write

update message disconnect
  extension/background.js
Due: eslint --fix, prettier --write

update to 2.5
  extension/manifest.json
  package.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

theme
  extension/background.js
  extension/index.html
  src/scripts/create-ui.js
  src/scripts/theme-switcher.js
  src/styles/colors.scss
  src/styles/index.scss
Due: eslint --fix, prettier --write

Fix failure to gobble on pages with childless SVGs (Cannot read property 'tagName' of null)
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

Fix failure to gobble on pages with childless SVGs (Cannot read property 'tagName' of null) (#71)
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

cleanup
  .eslintignore
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

remove all the things
  .DS_Store
  .gitignore
  extension/background.js
  extension/icons/dev-icon128.png
  extension/icons/favicon.ico
  extension/icons/icon128.png
  extension/icons/icon16.png
  extension/icons/icon24.png
  extension/icons/icon32.png
  extension/icons/icon48.png
  extension/index.html
  extension/manifest.json
  package-lock.json
  package.json
  src/scripts/classify-svg.js
  src/scripts/controller.js
  src/scripts/create-card.js
  src/scripts/create-svg.js
  src/scripts/create-ui.js
  src/scripts/download.js
  src/scripts/export-image.js
  src/scripts/find-svgs.js
  src/scripts/modal.js
  src/scripts/process-svgs.js
  src/scripts/theme-switcher.js
  src/styles/colors.scss
  src/styles/icons.scss
  src/styles/index.scss
  src/styles/mixins.scss
  src/styles/modal.scss
  src/styles/motion.scss
  src/styles/no-gobbler.scss
  webpack.js
Due: eslint --fix, prettier --write

fix eslint problems
  .DS_Store
  package.json
  src/build/components/footer/copyright.tsx
  src/build/components/footer/index.tsx
  src/build/components/gallery/card-action-footer.tsx
  src/build/components/gallery/card-footer.tsx
  src/build/components/gallery/card.tsx
  src/build/components/gallery/index.tsx
  src/build/components/index.ts
  src/build/components/navbar/index.tsx
  src/build/components/navbar/theme-toggle.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/utils/actions.ts
  src/build/layout.tsx
  src/find/components/empty-state.tsx
  src/find/index.tsx
  src/find/scripts/create-svg.ts
  src/find/scripts/process-svgs.ts
  yarn.lock
Due: prettier --write

style fixes
  extension/index.html
  src/build/components/gallery/card-action-footer.tsx
  src/build/theme/theme.ts
Due: none

unique keys in array
  src/build/components/gallery/index.tsx
  src/find/scripts/create-svg.ts
Due: none

style and links
  src/build/components/footer/copyright.tsx
  src/find/components/empty-state.tsx
Due: none

eslint fixes for background.js
  extension/background.js
  package.json
Due: eslint --fix, prettier --write

image render in modal
  extension/background.js
  src/build/components/gallery/card-action-footer.tsx
  src/build/components/gallery/card.tsx
  src/build/components/gallery/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/export-image.ts
  src/find/scripts/create-svg.ts
Due: eslint --fix, prettier --write

checkpoint
  src/build/components/gallery/card.tsx
  src/build/components/gallery/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
  src/find/scripts/create-svg.ts
Due: none

more refactors
  src/build/components/gallery/card-actions.tsx
  src/build/components/gallery/card-footer-body.tsx
  src/build/components/gallery/card-footer-subhead.tsx
  src/build/components/gallery/card-footer.tsx
  src/build/components/gallery/card.tsx
  src/build/components/gallery/image-modal.tsx
  src/build/layout.tsx
  src/find/scripts/create-svg.ts
  src/find/scripts/find-svgs.ts
  src/find/scripts/process-svgs.ts
Due: none

private refactor
  src/build/components/gallery/card-footer-body.tsx
  src/build/components/utils/image-class.ts
  src/find/scripts/create-svg.ts
  src/find/scripts/process-svgs.ts
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
