Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{js,json,scss}": "prettier --write"
}

card refactor
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/card-footer-body.tsx
  src/build/components/card/card-footer-subhead.tsx
  src/build/components/card/card-footer.tsx
  src/build/components/card/image-modal.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/index.tsx
Due: none

forwarding url
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/index.tsx
Due: none

implement modal
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
  src/build/layout.tsx
  src/find/scripts/create-svg.ts
Due: none

cleanup
  src/build/layout.tsx
  src/find/index.tsx
  src/find/scripts/create-svg.ts
  src/find/scripts/find-svgs.ts
Due: none

opt for native alert
  src/find/components/empty-state.tsx
  src/find/index.tsx
  src/find/scripts/create-svg.ts
Due: none

general error handling
  src/build/components/gallery/index.tsx
  src/build/components/gallery/no-results-error.tsx
  src/build/components/toolbar/index.tsx
  src/build/layout.tsx
Due: none

theme provider refactor
  src/build/layout.tsx
  src/build/theme/theme-provider.tsx
Due: none

correct error function
  src/build/layout.tsx
Due: none

improve size specification
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/image-modal.tsx
  src/build/components/utils/image-class.ts
  src/find/scripts/create-svg.ts
  src/find/scripts/process-svgs.ts
Due: none

Update create-svg.ts
  src/find/scripts/create-svg.ts
Due: none

add more values
  src/build/components/card/image-modal.tsx
Due: none

Update social-media-links.tsx
  src/build/components/footer/social-media-links.tsx
Due: none

firefox
  .DS_Store
  .gitignore
  extension/manifest.json
  package.json
  yarn.lock
Due: prettier --write

fix firefox export
  package.json
  src/build/components/card/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
Due: prettier --write

remove all .DS_Store
  .DS_Store
  extension/.DS_Store
Due: none

3.0 done!
  .DS_Store
  extension/.DS_Store
  package.json
  tsconfig.json
  webpack.config.js
Due: eslint --fix, prettier --write

be gone ds
  .DS_Store
  extension/.DS_Store
Due: none

gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: none

don't come back .ds
  .DS_Store
  .gitignore
  extension/.DS_Store
  extension/manifest.json
  package.json
  src/build/layout.tsx
Due: prettier --write

firefox flag fix
  package.json
Due: prettier --write

add back in the favicon
  extension/index.html
Due: none

add feedback mechanism
  extension/manifest.json
  package.json
  src/build/components/navbar/index.tsx
  yarn.lock
Due: prettier --write

add logic for disabling extension icon
  extension/valid-page.js
Due: eslint --fix, prettier --write

refactor height and width png
  src/build/components/card/image-modal.tsx
  src/build/components/utils/image-class.ts
  src/find/scripts/create-svg.ts
Due: none

small improvements to nan in sprite instances
  src/find/scripts/create-svg.ts
Due: none

update security policy for chrome
  extension/manifest.json
Due: prettier --write

refactor checkpoint
  src/find/index.tsx
  src/find/scripts/fetch-svg.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
Due: none

pretty big refactor
  src/build/components/card/card-actions.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/loading-gallery.tsx
  src/build/components/toolbar/index.tsx
  src/build/layout.tsx
  src/find/index.tsx
  src/find/scripts/create-svg.ts
  src/find/scripts/fetch-svg.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
Due: none

setup cors logic
  README.md
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/image-modal.tsx
  src/find/scripts/svg-class.ts
Due: none

Update package.json
  package.json
Due: prettier --write

Update svg-class.ts
  src/find/scripts/svg-class.ts
Due: none

3.2 (#88)
  README.md
  extension/index.html
  extension/manifest.json
  extension/valid-page.js
  package.json
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/image-modal.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/loading-gallery.tsx
  src/build/components/navbar/index.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/utils/image-class.ts
  src/build/layout.tsx
  src/find/scripts/create-svg.ts
  src/find/scripts/fetch-svg.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
  yarn.lock
Due: eslint --fix, prettier --write

checkpoint before syntax highlighter
  src/build/components/card/card-action-footer.tsx
  src/build/components/drawer/index.tsx
Due: none

syntax highlighter
  package.json
  src/build/components/card/card-action-footer.tsx
  src/build/components/drawer/drawer-tabs.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/utils/actions.ts
  yarn.lock
Due: prettier --write

Create process-strings.ts
  src/build/components/drawer/process-strings.ts
Due: none

improve sprite handling
  src/find/scripts/fetch-svg.ts
  src/find/scripts/find-svgs.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
Due: none
