Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

checkpoint for the love of all that's holy
  public/extension/background.js
  public/extension/gather.js
  src/scripts/find-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

feat: introduce gobbler into new tab (#56)
  public/extension/background.js
  public/extension/index.html
  public/extension/manifest.json
  public/index.html
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/find-svgs.js
  src/scripts/global.js
  src/scripts/icons.js
  src/scripts/index.js
  src/scripts/process-svgs.js
  src/styles/index.scss
  src/styles/motion.scss
  webpack.js
Due: eslint --fix, prettier --write

remove dynamic file naming
  src/scripts/download.js
Due: eslint --fix, prettier --write

simplify js in favor of html structure
  public/extension/index.html
  src/scripts/create-ui.js
  src/scripts/download.js
  src/scripts/find-svgs.js
  src/scripts/icons.js
  src/scripts/index.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

consolidate icons in extension folder
  public/extension/icons/icon128.png
  public/extension/icons/icon16.png
  public/extension/icons/icon24.png
  public/extension/icons/icon32.png
  public/extension/icons/icon48.png
  public/extension/manifest.json
Due: prettier --write

making cors requests
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

more simplification
  src/scripts/create-ui.js
  src/scripts/find-svgs.js
  src/scripts/index.js
  webpack.js
Due: eslint --fix, prettier --write

error message for no svgs found
  src/scripts/controller.js
  src/scripts/create-ui.js
  src/scripts/find-svgs.js
  src/styles/index.scss
  src/styles/motion.scss
  webpack.js
Due: eslint --fix, prettier --write

update cors example
  public/index.html
Due: none

style import
  src/scripts/controller.js
  src/scripts/create-ui.js
Due: eslint --fix, prettier --write

simplify css
  public/extension/index.html
  src/scripts/controller.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

separation of concerns
  public/extension/background.js
  src/scripts/controller.js
  src/scripts/create-svg.js
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

live that prototype life
  src/scripts/classify-svg.js
  src/scripts/create-svg.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

improved sprite handling and size determination
  src/scripts/classify-svg.js
  src/scripts/controller.js
  src/scripts/create-svg.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

asynchronous data messaging between tabs ftw
  public/extension/background.js
  public/extension/icons/favicon.ico
  public/extension/index.html
  public/extension/manifest.json
  src/scripts/controller.js
  src/scripts/create-ui.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

checkpoint
  public/extension/index.html
  public/extension/manifest.json
  public/index.html
  src/scripts/create-card.js
  src/scripts/process-svgs.js
  src/styles/colors.scss
  src/styles/index.scss
  webpack.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

styles and svg class improvements
  public/extension/background.js
  public/extension/index.html
  public/index.html
  src/scripts/classify-svg.js
  src/scripts/controller.js
  src/scripts/create-svg.js
  src/scripts/create-ui.js
  src/scripts/process-svgs.js
  src/styles/index.scss
  src/styles/mixins.scss
  webpack.js
Due: eslint --fix, prettier --write

checkpoint before svgo
  package.json
  public/index.html
  src/scripts/controller.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

Fix incorrect viewBox width/height parameter order (should be "min-x min-y width height" per https://www.w3.org/TR/SVG2/coords.html#ViewBoxAttribute)
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

checkpoint after svgo
  package-lock.json
  package.json
  public/images/test-one.svg
  public/index.html
  src/scripts/classify-svg.js
  src/scripts/controller.js
  src/scripts/create-card.js
  src/scripts/create-svg.js
  src/scripts/download.js
  src/scripts/process-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

i finally fucking got it. .text() needs awaited
  src/scripts/classify-svg.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

back to fully functional
  src/scripts/classify-svg.js
  src/scripts/controller.js
  src/scripts/create-card.js
  src/scripts/download.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

refine permissions
  public/extension/manifest.json
Due: prettier --write

separate styles from js
  public/extension/background.js
  public/extension/index.html
  public/index.html
  src/scripts/controller.js
  src/scripts/process-svgs.js
  src/styles/no-gobbler.scss
  webpack.js
Due: eslint --fix, prettier --write

styling updates
  src/styles/index.scss
  src/styles/mixins.scss
Due: prettier --write

add masthead structure
  public/extension/index.html
  src/scripts/classify-svg.js
  src/scripts/create-card.js
  src/scripts/create-svg.js
  src/scripts/create-ui.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

2.1
  public/extension/manifest.json
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

Fix incorrect viewBox width/height parameter order (#57)
  src/scripts/classify-svg.js
Due: eslint --fix, prettier --write

what was i even thinking with that function holy shit
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/download.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

svgo optimization
  src/scripts/create-card.js
  src/scripts/download.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

missing style sheet
  src/scripts/controller.js
  webpack.js
Due: eslint --fix, prettier --write

some cleanup
  src/scripts/create-card.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

delete old css
  src/styles/mixins.scss
Due: prettier --write

revise the download functionality to be more modular
  src/scripts/download.js
Due: eslint --fix, prettier --write

implement svgo!
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

nits
  src/scripts/create-ui.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

2.2
  package.json
  public/extension/manifest.json
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

communication added to footer
  public/extension/index.html
  src/scripts/create-ui.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
