Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

work
  .prettierrc
  index.html
  manifest.json
  onboarding.html
  scripts/launch-svg-gobbler.ts
  scripts/utils.ts
  vite.config.ts
Due: prettier --write

progress
  src/components/icon-button.tsx
  src/layout/collection/index.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
  src/providers/main/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/dashboard/loader.ts
  types.ts
Due: none

set icons
  index.html
  public/favicon.ico
  scripts/set-extension-icons.ts
Due: none

ayyyyy we did it
  scripts/svg-factory/svg-factory.ts
  src/App.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/providers/sidebar/reducer.ts
  src/routes/collection/index.tsx
  src/routes/detail.tsx
Due: none

update
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

layout
  index.html
  src/App.tsx
  src/layout/dashboard.tsx
  src/layout/main-bar.tsx
  src/layout/main-panel.tsx
  src/layout/main.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar.tsx
Due: none

polish
  scripts/gather-page-data.ts
  scripts/svg-factory/image.ts
  scripts/svg-factory/svg-factory.ts
  src/App.tsx
Due: none

functioning
  .eslintrc.cjs
  assets/dev/16.png
  assets/dev/24.png
  assets/dev/32.png
  assets/prod/128.png
  assets/prod/16.png
  assets/prod/24.png
  assets/prod/256.png
  assets/prod/300.png
  assets/prod/32.png
  assets/prod/48.png
  assets/prod/64.png
  manifest.json
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
Due: prettier --write

update
  src/background-scripts/execute-script.ts
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/card-footer.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/helpers.ts
  src/build/types.ts
  src/process/SVG.ts
  src/process/process-elements.ts
Due: none

update
  src/background/execute-script.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/background/helpers.ts
  src/background/index.ts
Due: none

update
  src/manifest.json
Due: prettier --write

refactors
  src/build/pages/index.tsx
  src/build/providers/data-provider.tsx
  src/build/providers/helpers.ts
  src/build/providers/options-provider.tsx
  src/build/providers/theme-provider.tsx
Due: none

setup dev icon
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  package.json
  src/assets/128.png
  src/assets/16.png
  src/assets/24.png
  src/assets/32.png
  src/assets/48.png
  src/assets/development/16.png
  src/assets/development/24.png
  src/assets/development/32.png
  src/assets/production/128.png
  src/assets/production/16.png
  src/assets/production/24.png
  src/assets/production/256.png
  src/assets/production/300.png
  src/assets/production/32.png
  src/assets/production/48.png
  src/assets/production/64.png
  src/background.ts
  src/manifest.json
Due: prettier --write

cleanup
  background.ts
  pages/index.html
  pages/onboarding.html
  scripts/launch-svg-gobbler.ts
  scripts/utils.ts
  vite.config.ts
Due: none

Update bug_report.md
  .vscode/settings.json
  .vscode/tailwind.json
Due: prettier --write

we doing things and stuff
  scripts/svg-factory/svg-factory.ts
  src/components/tooltip.tsx
  src/hooks/use-color-mode.ts
  src/layout/sidebar/hooks/use-remove-collection.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar/index.tsx
  src/layout/top-bar/main-panel-btn.tsx
  src/layout/top-bar/theme-btn.tsx
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
Due: none

more stuff
  scripts/chrome-utils.ts
  scripts/gather-page-data.ts
  scripts/init.ts
  src/App.tsx
  tsconfig.json
  types.ts
Due: prettier --write

sticky header
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/gallery-frame.tsx
  src/build/components/gallery/loading-gallery.tsx
  src/build/components/navbar/index.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/toolbar/location.tsx
  src/build/components/toolbar/theme-toggle.tsx
  src/build/components/toolbar/toolbar-frame.tsx
Due: none

update
  rollup.config.js
  src/manifest.json
Due: eslint --fix, prettier --write

fix fart
  src/pages/index.html
Due: none

stop double render
  scripts/init.ts
  src/App.tsx
  src/main.tsx
Due: none

update
  src/background.ts
  src/background/execute-script.ts
  src/background/find-svgs.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/background/index.ts
  src/background/load-dev-icon.ts
  src/background/load-welcome-screen.ts
Due: none

fun
  src/css/alias.css
  src/layout/collection/card/index.tsx
  src/layout/collection/index.tsx
  src/layout/sidebar/sidebar-content.tsx
Due: none

checkpoint
  src/components/button.tsx
  src/components/menu.tsx
  src/constants.ts
  src/layout/collection/index.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
  src/layout/top-bar/main-panel-btn.tsx
  src/layout/top-bar/theme-btn.tsx
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
Due: none

more fixes
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/index.tsx
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

progress
  README.md
  src/components/button.tsx
  src/components/icon-button.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/main-panel-btn.tsx
  src/layout/top-bar/theme-btn.tsx
  src/routes/collection/loader.ts
  src/routes/index.ts
  src/routes/root/loader.ts
  src/utils/logger.ts
  src/utils/svg-factory-checker.ts
Due: none

v4.4.0 (#130)
  package.json
  src/background.ts
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/plugin-option.tsx
  src/build/components/drawer/svgo/form-category-subhead.tsx
  src/build/components/drawer/svgo/option.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/reactify.ts
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/drawer/svgo/svgo-plugins.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/utils/actions.ts
  src/build/pages/index.tsx
  src/build/providers/options-provider.tsx
  src/build/types.ts
  src/find/SVG.ts
  src/manifest.json
  src/pages/welcome.html
  yarn.lock
Due: prettier --write

updates
  src/background.ts
  src/background/handle-system-page.ts
  src/background/handle-web-page.ts
  src/process/process-elements.ts
  src/scripts/find-svgs.ts
  src/scripts/helpers.ts
  src/scripts/index.ts
  src/scripts/launch-extension.ts
  src/scripts/load-dev-icon.ts
  src/scripts/load-welcome-screen.ts
Due: none

progress
  package.json
  src/App.tsx
  src/layout/collection/index.tsx
  src/layout/dashboard.tsx
  src/layout/sidebar/hooks/use-remove-collection.tsx
  src/providers/index.ts
  src/providers/main/index.tsx
  src/providers/main/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/dashboard/index.tsx
  src/routes/dashboard/loader.ts
  src/routes/details/index.tsx
  src/routes/index.ts
  src/routes/root/index.tsx
  src/routes/root/loader.ts
  src/utils/lz-string.ts
  yarn.lock
Due: prettier --write

more
  package.json
  scripts/gather-page-data.ts
  scripts/svg-factory/svg-factory.ts
  src/base.css
  src/components/skeleton-collection.tsx
  src/components/tooltip.tsx
  src/layout/collection/index.tsx
  src/layout/sidebar/collection-item.tsx
  src/layout/sidebar/index.tsx
  src/providers/sidebar/reducer.ts
  src/routes/collection/index.tsx
  src/routes/dashboard/loader.ts
  src/routes/root/loader.ts
  src/utils/svg-factory-checker.ts
  tailwind.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

progress
  src/components/empty-state.tsx
  src/css/components.css
  src/layout/collection/skeleton-collection.tsx
  src/layout/main-bar/index.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
Due: none

functioning messages
  background.ts
  manifest.json
  package.json
  scripts/chrome-utils.ts
  scripts/gather-page-data.ts
  scripts/index.ts
  scripts/init.ts
  scripts/launch-svg-gobbler.ts
  scripts/set-extension-icons.ts
  scripts/utils.ts
  src/App.tsx
  tsconfig.json
  types.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

progress
  package.json
  src/App.tsx
  src/base.css
  src/components/skeleton-collection.tsx
  src/index.tsx
  src/layout/dashboard.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/providers/index.ts
  src/providers/index.tsx
  src/routes/collection.tsx
  src/routes/detail.tsx
  src/routes/root.tsx
  yarn.lock
Due: prettier --write

fixes
  index.html
  src/App.tsx
  src/components/button.tsx
  src/components/empty-state.tsx
  src/components/error-state.tsx
  src/components/skeleton-collection.tsx
  src/css/alias.css
  src/css/components.css
  src/css/index.css
  src/layout/collection/index.tsx
  src/layout/collection/skeleton-collection.tsx
  src/layout/dashboard.tsx
  src/layout/sidebar/collection-item.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/layout/top-bar/collection-title.tsx
  src/layout/top-bar/index.tsx
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/dashboard/index.tsx
  src/routes/root/index.tsx
Due: none

update
  src/find/SVG.ts
Due: none

progress
  README.md
  src/App.tsx
  src/components/empty-state.tsx
  src/components/error-state.tsx
  src/layout/sidebar/sidebar-content.tsx
  src/providers/sidebar/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/dashboard/index.tsx
  src/routes/dashboard/loader.ts
  src/routes/details/index.tsx
  src/routes/details/loader.ts
  src/routes/root/index.tsx
  src/routes/root/loader.ts
  types.ts
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
