Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

improve g element parsing
  src/build/components/drawer/drawer-tabs.tsx
  src/build/components/drawer/process-strings.ts
  src/build/layout.tsx
  src/find/scripts/fetch-svg.ts
  src/find/scripts/find-svgs.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
  tsconfig.json
Due: prettier --write

update to 3.2
  extension/manifest.json
  package.json
Due: prettier --write

Version 3.2 (#92)
  extension/manifest.json
  package.json
  src/build/components/card/card-action-footer.tsx
  src/build/components/drawer/drawer-tabs.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/utils/actions.ts
  src/build/layout.tsx
  src/find/scripts/fetch-svg.ts
  src/find/scripts/find-svgs.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
  src/find/scripts/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

fix cycle dependency error
  src/build/components/gallery/index.tsx
  src/build/components/index.ts
  src/build/components/toolbar/index.tsx
Due: none

checkpoint
  src/build/components/drawer/code-view.tsx
  src/build/components/drawer/drawer-tabs.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/svgo-switches.tsx
  src/build/components/drawer/syntax-highlighter.tsx
Due: none

types and everything
  package.json
  src/build/components/drawer/code-view.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/plugin-types.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/svgo-switches.tsx
  src/build/components/drawer/syntax-highlighter.tsx
  webpack.config.js
Due: eslint --fix, prettier --write

finish svgo funcitonality
  package.json
  src/build/components/card/card-action-footer.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/svgo-types.ts
  yarn.lock
Due: prettier --write

update version
  extension/manifest.json
  package.json
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
Due: prettier --write

quick configuration
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/form-category-subhead.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/quick-configurations.tsx
  src/find/scripts/find-svgs.ts
Due: none

updates
  src/build/components/card/card-action-cors.tsx
  src/build/components/drawer/option.tsx
Due: none

v3.3 (#93)
  extension/manifest.json
  package.json
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-action-footer.tsx
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/drawer-tabs.tsx
  src/build/components/drawer/form-category-subhead.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/quick-configurations.tsx
  src/build/components/drawer/svgo-types.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/gallery/index.tsx
  src/build/components/index.ts
  src/build/components/toolbar/index.tsx
  src/find/scripts/find-svgs.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

initial refactor for system and empty states
  extension/background.js
  extension/manifest.json
  extension/valid-page.js
  src/build/components/gallery/index.tsx
  src/build/components/toolbar/index.tsx
  src/build/layout.tsx
  src/find/index.tsx
Due: eslint --fix, prettier --write

Update manifest.json
  extension/manifest.json
Due: prettier --write

new logic refactor
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/gallery/no-results-error.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
Due: none

types refactor
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/quick-configurations.tsx
  src/build/components/gallery/index.tsx
  src/build/components/index.ts
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/layout.tsx
  src/build/types.ts
Due: none

cleanup
  src/build/index.tsx
  src/build/pages/index.tsx
Due: none

pass setdata down the tree
  src/build/components/gallery/index.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/pages/index.tsx
Due: none

checkpoint
  extension/background.js
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
  src/build/types.ts
  src/find/index.tsx
  src/find/scripts/helpers.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
Due: eslint --fix, prettier --write

update
  extension/background.js
  extension/manifest.json
  package.json
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/pages/index.tsx
  src/find/index.tsx
Due: eslint --fix, prettier --write

pagination
  src/build/components/gallery/data-gallery.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
  src/build/types.ts
Due: none

lint
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/quick-configurations.tsx
Due: none

fix default svgo config
  src/build/components/drawer/process-strings.ts
Due: none

improve loading state
  src/build/components/gallery/data-gallery.tsx
Due: none

v3.4 (#95)
  extension/background.js
  extension/manifest.json
  extension/valid-page.js
  package.json
  src/build/components/card/index.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/drawer/quick-configurations.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/gallery/no-results-error.tsx
  src/build/components/index.ts
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/utils/upload.ts
  src/build/index.tsx
  src/build/layout.tsx
  src/build/pages/index.tsx
  src/build/types.ts
  src/find/index.tsx
  src/find/scripts/helpers.ts
  src/find/scripts/process-svgs.ts
  src/find/scripts/svg-class.ts
Due: eslint --fix, prettier --write

dropzone support
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
Due: none

version update
  extension/manifest.json
  package.json
Due: prettier --write

revert force page update
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
Due: none

remove plugin that's not working
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/types.ts
Due: none

V3.5 (#97)
  extension/manifest.json
  package.json
  src/build/components/drawer/options-data.ts
  src/build/components/drawer/process-strings.ts
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
  src/build/types.ts
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

refactor
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/quick-configurations.tsx
  src/build/components/drawer/svgo-configs.ts
  src/build/components/drawer/svgo-plugins.ts
Due: none

small refactor of radio options
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/option.tsx
  src/build/components/drawer/quick-configurations.tsx
  src/build/components/drawer/radio-option.tsx
Due: none

improve session data logic
  src/build/pages/index.tsx
Due: none

refactor
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/svgo/option.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/drawer/svgo/svgo-plugins.ts
Due: none

add react functionality
  extension/manifest.json
  package.json
  src/build/components/card/card-actions.tsx
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/react/reactify.ts
  src/build/components/drawer/syntax-highlighter.tsx
  yarn.lock
Due: prettier --write

refactor
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  extension/manifest.json
  package.json
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/react/reactify.ts
  src/build/components/drawer/svgo/form-category-subhead.tsx
Due: prettier --write

refactor dropzone
  src/build/components/card/card-action-cors.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/generic/drop-zone.tsx
  src/build/components/generic/tooltip.tsx
  src/build/components/index.ts
  src/build/components/toolbar/data-toolbar.tsx
  src/build/pages/index.tsx
Due: none

prettier adds 6mb to build size
  package.json
  src/build/components/drawer/react/reactify.ts
Due: prettier --write

update version and readme
  README.md
  extension/manifest.json
  package.json
Due: prettier --write

Version 3.6 (#98)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  extension/manifest.json
  package.json
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/react/reactify.ts
  src/build/components/drawer/svgo/form-category-subhead.tsx
  src/build/components/drawer/svgo/option.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/drawer/svgo/svgo-plugins.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/empty-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/generic/drop-zone.tsx
  src/build/components/generic/tooltip.tsx
  src/build/components/index.ts
  src/build/components/toolbar/data-toolbar.tsx
  src/build/pages/index.tsx
  yarn.lock
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
