Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{js,json,scss}": "prettier --write"
}

more cleanup
  src/find/process-elements.ts
  src/find/process-svg.ts
  src/find/svg-class.ts
Due: none

more cleanup
  src/build/components/card/card-actions.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/types.ts
  src/find/SVG.ts
  src/find/async-operations.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: none

more simplifying
  src/build/components/utils/upload.ts
  src/find/SVG.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: none

more
  src/find/SVG.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: none

more
  src/build/components/utils/upload.ts
  src/find/SVG.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: none

fixes
  src/build/components/card/card-actions.tsx
  src/build/components/utils/upload.ts
  src/find/SVG.ts
  src/find/process-elements.ts
  src/find/process-svg.ts
Due: none

simplify
  src/build/components/card/card-action-cors.tsx
  src/find/SVG.ts
  src/find/async-operations.ts
  src/find/process-elements.ts
Due: none

updates
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

Manfiest 3 (#127)
  extension/background.js
  extension/index.html
  extension/manifest.json
  package.json
  src/build/components/card/card-action-cors.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/index.tsx
  src/build/components/gallery/data-gallery.tsx
  src/build/components/gallery/index.tsx
  src/build/components/index.ts
  src/build/components/modals/image-modal.tsx
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
  src/build/components/utils/upload.ts
  src/build/providers/data-provider.tsx
  src/build/providers/location-provider.tsx
  src/build/providers/theme-provider.tsx
  src/build/providers/utils.ts
  src/build/types.ts
  src/find/SVG.ts
  src/find/index.tsx
  src/find/process-elements.ts
  src/find/scripts/async-operations.ts
  src/find/scripts/gather-elements.ts
  src/find/scripts/process-elements.ts
  src/find/scripts/process-svg.ts
  src/find/scripts/svg-class.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

cleanup
  package.json
  src/scripts/content-script.ts
Due: prettier --write

fixes
  src/background.ts
  src/find/find-svgs.ts
  src/pages/index.html
  src/pages/index.tsx
Due: none

fixes
  src/background.ts
  src/find/process-elements.ts
Due: none

more cleanup my god what was i doing
  src/find/SVG.ts
Due: none

more simplification
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

simplify
  src/find/SVG.ts
  src/find/find-svgs.ts
  src/find/process-elements.ts
Due: none

updates
  src/background.ts
  src/build/components/card/card-actions.tsx
  src/build/components/utils/upload.ts
  src/find/SVG.ts
  src/find/find-svgs.ts
  src/find/process-elements.ts
Due: none

changes
  src/build/components/card/card-action-menu.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/footer/social-media-links.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/utils/upload.ts
  src/find/SVG.ts
  src/find/find-svgs.ts
Due: none

update
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/card-actions.tsx
  src/build/components/card/card-footer.tsx
  src/build/components/card/index.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/svgo-configs.ts
Due: none

more fixes
  src/build/components/card/card-action-footer.tsx
  src/build/components/card/index.tsx
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

fixup
  src/build/components/drawer/drawer-content.tsx
  src/find/SVG.ts
Due: none

update
  src/find/SVG.ts
  src/find/process-elements.ts
Due: none

update
  src/manifest.json
Due: prettier --write

update
  rollup.config.js
  src/manifest.json
Due: eslint --fix, prettier --write

update
  src/build/components/utils/actions.ts
  src/build/components/utils/image-class.ts
  src/find/SVG.ts
Due: none

update
  src/build/components/drawer/code-view-header.tsx
  src/build/components/utils/actions.ts
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

setup dev icon
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  package.json
  src/assets/128.png
  src/assets/16.png
  src/assets/24.png
  src/assets/32.png
  src/assets/48.png
  src/assets/development/16.png
  src/assets/development/24.png
  src/assets/development/32.png
  src/assets/production/128.png
  src/assets/production/16.png
  src/assets/production/24.png
  src/assets/production/256.png
  src/assets/production/300.png
  src/assets/production/32.png
  src/assets/production/48.png
  src/assets/production/64.png
  src/background.ts
  src/manifest.json
Due: prettier --write

update svgo
  package.json
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/plugin-option.tsx
  src/build/components/drawer/svgo/form-category-subhead.tsx
  src/build/components/drawer/svgo/option.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/reactify.ts
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/drawer/svgo/svgo-plugins.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/utils/actions.ts
  src/build/pages/index.tsx
  src/build/providers/options-provider.tsx
  src/build/types.ts
  src/pages/welcome.html
  yarn.lock
Due: prettier --write

update
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/plugin-option.tsx
  src/build/components/utils/actions.ts
  src/build/providers/options-provider.tsx
Due: none

update
  src/background.ts
  src/find/SVG.ts
Due: none

update
  package.json
  src/manifest.json
Due: prettier --write

v4.4.0 (#130)
  package.json
  src/background.ts
  src/build/components/drawer/code-view-header.tsx
  src/build/components/drawer/drawer-content.tsx
  src/build/components/drawer/index.tsx
  src/build/components/drawer/plugin-option.tsx
  src/build/components/drawer/svgo/form-category-subhead.tsx
  src/build/components/drawer/svgo/option.tsx
  src/build/components/drawer/svgo/quick-configurations.tsx
  src/build/components/drawer/svgo/radio-option.tsx
  src/build/components/drawer/svgo/reactify.ts
  src/build/components/drawer/svgo/svgo-configs.ts
  src/build/components/drawer/svgo/svgo-plugins.ts
  src/build/components/drawer/syntax-highlighter.tsx
  src/build/components/utils/actions.ts
  src/build/pages/index.tsx
  src/build/providers/options-provider.tsx
  src/build/types.ts
  src/find/SVG.ts
  src/manifest.json
  src/pages/welcome.html
  yarn.lock
Due: prettier --write

cleanup
  src/build/components/footer/index.tsx
  src/build/components/footer/logo.tsx
  src/build/components/footer/social-media-links.tsx
  src/build/components/generic/tooltip.tsx
  src/build/components/index.ts
  src/build/components/modals/paste-modal.tsx
  src/build/components/navbar/index.tsx
  src/build/components/navbar/logo.tsx
  src/build/components/toolbar/data-toolbar.tsx
  src/build/components/toolbar/index.tsx
  src/build/components/toolbar/loading-toolbar.tsx
  src/build/components/utils/upload.ts
  src/build/pages/index.tsx
Due: none
