Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

progress
  index.html
  src/components/full-page-loader.tsx
  src/css/base.css
  src/layout/details/export-sidebar/footer.tsx
  src/layout/details/export-sidebar/header.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/layout/details/preview-sidebar/data-uri.tsx
  src/providers/details/reducer.ts
  src/routes/root/index.tsx
  src/routes/root/loader.ts
Due: none

update
  src/hooks/index.ts
  src/hooks/use-resize.ts
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/export-sidebar/use-export-resize.ts
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/use-preview-resize.ts
Due: none

progress
  src/layout/details/editor/action-bar.tsx
  src/layout/details/editor/use-optimize.ts
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/providers/details/reducer.ts
  src/routes/details/loader.ts
  src/types.ts
Due: none

update
  src/layout/details/editor/action-bar.tsx
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/layout/details/header.tsx
  src/layout/details/index.tsx
  src/layout/details/use-optimize.ts
  src/providers/details/reducer.ts
  src/routes/details/loader.ts
  src/types.ts
  yarn.lock
Due: none

refactors
  src/layout/collection/export-panel/footer.tsx
  src/layout/collection/export-panel/header.tsx
  src/layout/collection/export-panel/index.tsx
  src/layout/collection/export-panel/png-settings/index.tsx
  src/layout/collection/export-panel/svg-settings/index.tsx
  src/layout/collection/export-panel/svg-settings/reset-button.tsx
  src/layout/collection/export-panel/svg-settings/svgo-option.tsx
  src/layout/collection/export-panel/use-export-actions.ts
  src/layout/collection/main-bar/index.tsx
  src/layout/collection/main-bar/main-actions/copy-action.tsx
  src/layout/collection/main-bar/main-actions/delete-action.tsx
  src/layout/collection/main-bar/main-actions/index.tsx
  src/layout/collection/main-bar/main-actions/move-action.tsx
  src/layout/collection/main-bar/main-actions/use-main-actions.ts
  src/layout/collection/main-bar/pagination.tsx
  src/layout/collection/main-bar/selection-control.tsx
  src/layout/details/export-sidebar/main.tsx
  src/providers/export/reducer.ts
  src/routes/collection/index.tsx
Due: none

progress
  src/layout/details/export-sidebar/header.tsx
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/layout/details/header.tsx
  src/layout/details/index.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/providers/details/reducer.ts
Due: none

ok
  src/components/help-icon.tsx
  src/components/index.ts
  src/components/tabs.tsx
  src/css/base.css
  src/data/svgo-plugins.ts
  src/layout/collection/export-panel/svg-settings/index.tsx
  src/layout/collection/export-panel/svg-settings/reset-button.tsx
  src/layout/collection/export-panel/svg-settings/svgo-option.tsx
  src/layout/collection/export-panel/use-export-actions.ts
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/layout/sidebar/review-modal.tsx
  src/providers/details/reducer.ts
  src/providers/export/reducer.ts
Due: none

fix
  server/index.ts
  src/components/help-icon.tsx
  src/providers/details/reducer.ts
Due: none

server
  manifest.json
  package.json
  server/index.ts
  src/constants/links.ts
  src/constants/svgo-plugins.ts
  src/layout/collection/export-panel/svg-settings/index.tsx
  src/layout/collection/export-panel/svg-settings/reset-button.tsx
  src/layout/collection/export-panel/svg-settings/svgo-option.tsx
  src/layout/details/export-sidebar/main.tsx
  src/layout/details/export-sidebar/reset-button.tsx
  src/layout/details/export-sidebar/svgo-option.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-data-uri.tsx
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/settings/about-settings.tsx
  src/layout/settings/export-settings.tsx
  src/layout/sidebar/review-modal.tsx
  src/providers/details/reducer.ts
  src/providers/export/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

update
  server/config.ts
  server/index.ts
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write

progress
  .eslintrc.cjs
  package.json
  server/index.ts
  src/css/components.css
  src/hooks/index.ts
  src/hooks/use-clipboard.ts
  src/layout/details/export-sidebar/footer.tsx
  src/layout/details/preview-sidebar/preview-data-uri.tsx
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/details/preview-sidebar/use-svgr.tsx
  src/providers/details/reducer.ts
  yarn.lock
Due: prettier --write

read me
  README.md
  assets/dev/16.png
  assets/dev/24.png
  assets/dev/32.png
  assets/dev/48.png
  assets/dev/64.png
  assets/local/read-me.png
  assets/prod/128.png
  assets/prod/16.png
  assets/prod/24.png
  assets/prod/256.png
  assets/prod/300.png
  assets/prod/32.png
  assets/prod/48.png
  assets/prod/64.png
  scripts/init.ts
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-data-uri.tsx
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/routes/root/loader.ts
Due: none

Update README
  README.md
  assets/local/read-me.png
Due: none

progress
  README.md
  assets/prod/300.png
  manifest.json
  package.json
  src/layout/details/preview-sidebar/preview-react.tsx
  tsconfig.json
  tsconfig.node.json
  yarn.lock
Due: prettier --write

setup cloud functions instead of express
  README.md
  package.json
  server/index.ts
  server/package.json
  server/tsconfig.json
  server/yarn.lock
  src/constants/server-config.ts
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/details/preview-sidebar/use-svgr.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier --write

fix scaling issue with svgs on resize
  src/layout/collection/card/card-content.tsx
  src/layout/collection/card/index.tsx
  src/layout/top-bar/size-select.tsx
Due: none

can't run in firefox for a while
  src/layout/collection/export-panel/svg-settings/index.tsx
  src/layout/details/export-sidebar/main.tsx
  src/layout/sidebar/review-modal.tsx
Due: none

background color picker
  package.json
  server/index.ts
  src/css/components.css
  src/layout/details/export-sidebar/index.tsx
  src/layout/details/preview-sidebar/index.tsx
  src/layout/details/preview-sidebar/preview-data-uri.tsx
  src/layout/details/preview-sidebar/preview-react.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/providers/details/reducer.ts
Due: prettier --write

onboarding experience
  background.ts
  manifest.json
  onboarding.html
  package.json
  scripts/init.ts
  src/components/logo.tsx
  src/constants/links.ts
  src/css/alias.css
  src/css/components.css
  src/layout/onboarding/grid-pattern.tsx
  src/layout/onboarding/index.tsx
  src/layout/onboarding/onboarding-graphic.png
  src/onboarding.tsx
  src/routes/root/loader.ts
  yarn.lock
Due: prettier --write

refactor
  src/layout/onboarding/grid-pattern.tsx
  src/layout/onboarding/index.tsx
Due: none

Update README.md
  README.md
Due: none

add webp and jpeg export types
  README.md
  src/layout/collection/export-panel/footer.tsx
  src/layout/collection/export-panel/index.tsx
  src/layout/collection/export-panel/jpeg-settings/index.tsx
  src/layout/collection/export-panel/svg-settings/index.tsx
  src/layout/collection/export-panel/use-export-actions.ts
  src/layout/collection/export-panel/webp-settings/index.tsx
  src/layout/onboarding/index.tsx
  src/providers/export/reducer.ts
  src/utils/form-utils.ts
Due: none

readme
  README.md
  scripts/init.ts
Due: none

manifest refactor
  background.ts
  manifest.config.ts
  manifest.json
  package.json
  scripts/init.ts
  tsconfig.node.json
  vite.config.ts
Due: prettier --write

darken the color picker border
  src/css/components.css
  src/providers/details/reducer.ts
Due: none

Update package.json
  package.json
Due: prettier --write

progress
  package.json
  src/constants/server-config.ts
  src/css/alias.css
  src/css/base.css
  src/css/components.css
  src/hooks/index.ts
  src/hooks/use-collection-actions.ts
  src/hooks/use-upload.ts
  src/layout/collection/card-context-menu/context-menu-item.tsx
  src/layout/collection/card-context-menu/context-menu-sub-trigger.tsx
  src/layout/collection/card-context-menu/index.tsx
  src/layout/collection/card/card-content.tsx
  src/layout/collection/card/default-actions.tsx
  src/layout/collection/card/index.tsx
  src/layout/collection/index.tsx
  src/layout/collection/main-bar/main-actions/copy-action.tsx
  src/layout/collection/main-bar/main-actions/delete-action.tsx
  src/layout/collection/main-bar/main-actions/move-action.tsx
  src/providers/collection/reducer.ts
  src/utils/svg-utils.ts
  yarn.lock
Due: prettier --write

add context menu
  src/hooks/index.ts
  src/layout/collection/card-context-menu/index.tsx
  src/layout/collection/card-context-menu/use-context-actions.ts
  src/layout/collection/main-bar/main-actions/copy-action.tsx
  src/layout/collection/main-bar/main-actions/delete-action.tsx
  src/layout/collection/main-bar/main-actions/move-action.tsx
  src/layout/collection/main-bar/main-actions/use-main-actions.ts
  src/layout/settings/export-settings.tsx
  src/providers/collection/reducer.ts
Due: none

updates
  scripts/gather-page-data.ts
  scripts/svg-classes/g-element.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/svg.ts
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/layout/collection/export-panel/use-export-actions.ts
  src/layout/collection/index.tsx
  src/layout/details/preview-sidebar/preview-svg.tsx
  src/utils/logger.ts
  src/utils/storage-utils.ts
Due: none

improved svg sourcing
  scripts/gather-page-data.ts
  scripts/init.ts
  scripts/svg-classes/image.ts
  scripts/svg-factory.ts
Due: none

automate release
  .gitignore
  package.json
  src/utils/zip-release.ts
  yarn.lock
Due: prettier --write

refactor
  scripts/gather-page-data.ts
  src/utils/zip-release.ts
Due: none

refactor to externalize scripts
  background.ts
  package.json
  scripts/gather-page-data.ts
  scripts/init.ts
  scripts/svg-classes/g-element.ts
  scripts/svg-classes/image.ts
  scripts/svg-classes/inline.ts
  scripts/svg-classes/svg.ts
  scripts/svg-classes/symbol.ts
  scripts/svg-factory.ts
  src/hooks/use-upload.ts
  src/layout/collection/card-context-menu/index.tsx
  src/layout/collection/card-context-menu/use-context-actions.ts
  src/layout/collection/card/card-content.tsx
  src/layout/collection/card/cors-restricted-actions.tsx
  src/layout/collection/card/index.tsx
  src/layout/collection/export-panel/use-export-actions.ts
  src/layout/onboarding/index.tsx
  src/providers/collection/reducer.ts
  src/routes/collection/index.tsx
  src/routes/collection/loader.ts
  src/routes/root/loader.ts
  src/types.ts
  src/utils/svg-utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

fix types and amend return
  background.ts
  src/layout/details/header.tsx
  src/layout/sidebar/new-collection-modal/use-create-collection.ts
  src/routes/root/loader.ts
  src/types.ts
  src/utils/storage-utils.ts
  yarn.lock
Due: none

package update
  package.json
  src/types.ts
  yarn.lock
Due: prettier --write

setup eslint
  .eslintrc.cjs
  package.json
  src/layout/collection/card/default-actions.tsx
  src/providers/collection/index.tsx
  src/providers/collection/reducer.ts
  src/providers/dashboard/index.tsx
  src/providers/dashboard/reducer.ts
  src/routes/collection/loader.ts
  yarn.lock
Due: prettier --write

run eslint
  postcss.config.js
  tailwind.config.js
Due: eslint --fix, prettier --write

update scripts
  package.json
  yarn.lock
Due: prettier --write

update lock
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
