Repository rossmoody/svg-gobbler: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

eslint is working now
  .eslintignore
  .eslintrc
  .eslintrc.json
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
  src/scripts/create-card.js
  src/scripts/create-ui.js
  webpack.js
Due: eslint --fix, prettier --write

Progress with the linting
  src/scripts/create-ui.js
  src/scripts/download-svgs.js
  src/scripts/find-svgs.js
  src/scripts/global.js
  src/scripts/icons.js
  src/scripts/index.js
  src/scripts/organize-svgs.js
Due: eslint --fix, prettier --write

can't do it I hate the semi colons
  .eslintrc
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/download-svgs.js
  src/scripts/find-svgs.js
  src/scripts/global.js
  src/scripts/icons.js
  src/scripts/index.js
  src/scripts/organize-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

fixes
  .eslintrc
  src/scripts/create-card.js
  src/scripts/create-ui.js
  src/scripts/find-svgs.js
  src/scripts/global.js
  src/scripts/index.js
  src/scripts/organize-svgs.js
Due: eslint --fix, prettier --write

prettier update
  .prettierrc
Due: none

massive simplification, i'm kinda proud
  .eslintrc
  src/scripts/create-card.js
  src/scripts/download-svgs.js
  src/scripts/find-svgs.js
  src/scripts/index.js
  src/scripts/organize-svgs.js
Due: eslint --fix, prettier --write

updates
  .gitignore
  src/scripts/create-card.js
  src/scripts/find-svgs.js
  src/scripts/organize-svgs.js
  src/styles/icons.scss
Due: eslint --fix, prettier --write

further refactors
  src/scripts/find-svgs.js
  src/scripts/index.js
  src/scripts/organize-svgs.js
  src/scripts/util.js
Due: eslint --fix, prettier --write

small refactor
  src/scripts/create-card.js
  src/scripts/download.js
  src/scripts/find.js
  src/scripts/index.js
  src/scripts/organize.js
Due: eslint --fix, prettier --write

total rewrite
  .eslintrc
  package.json
  src/scripts/create-card.js
  src/scripts/find-svgs.js
  src/scripts/find.js
  src/scripts/index.js
  src/scripts/organize.js
  src/scripts/process-svgs.js
  src/scripts/util.js
  src/styles/index.scss
Due: eslint --fix, prettier --write

make a unique identifier property
  src/scripts/find-svgs.js
  src/scripts/index.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

fix size reference
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

Update package.json
  package.json
Due: prettier --write

let's see if this fails
  .eslintrc
  package-lock.json
  package.json
  util.js
  util.test.js
Due: eslint --fix, prettier --write

resvise test
  .github/workflows/node.js.yml
Due: none

let's borrow an action why not
  .github/workflows/node.js.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

lets see if this works
  .github/workflows/node.js.yml
Due: none

need the name
  .github/workflows/node.js.yml
Due: none

ok fine
  .github/workflows/node.js.yml
Due: none

ok fine
  util.test.js
Due: eslint --fix, prettier --write

remove puppeteer i'm confused
  package.json
Due: prettier --write

get the start of a test site for jest setup, my heavens that was tough
  package-lock.json
  package.json
  public/extension/background.js
  public/extension/dist/index.js
  public/extension/dist/index.js.LICENSE.txt
  public/extension/dist/style.css
  public/extension/icon128.png
  public/extension/icon16.png
  public/extension/icon24.png
  public/extension/icon32.png
  public/extension/icon48.png
  public/extension/manifest.json
  public/images/test-one.svg
  public/images/test-three.svg
  public/images/test-two.svg
  public/index.html
  src/scripts/global.js
  src/scripts/index.js
  tests/util.js
  tests/util.test.js
  webpack.js
Due: eslint --fix, prettier --write

simplify repo structure
  .eslintrc
  .lintstagedrc
  package.json
Due: prettier --write

not ready for the tests yet
  .github/workflows/node.js.yml
  package.json
  public/extension/dist/index.js
  src/scripts/process-svgs.js
  tests/util.js
  tests/util.test.js
Due: eslint --fix, prettier --write

momentary delete, need to gitignore
  README.md
  public/extension/dist/index.js
  public/extension/dist/index.js.LICENSE.txt
  public/extension/dist/style.css
Due: eslint --fix, prettier --write

fix gitignore and styles import
  .gitignore
  package-lock.json
  package.json
  src/scripts/index.js
  src/styles/colors.scss
  webpack.js
Due: eslint --fix, prettier --write

add more examples to site
  public/index.html
Due: none

revise webpack, manifest, and class structure
  public/extension/background.js
  public/extension/build.js
  public/extension/gather.js
  public/extension/index.html
  public/extension/manifest.json
  public/index.html
  src/scripts/create-card.js
  src/scripts/find-svgs.js
  src/scripts/index.js
  src/scripts/process-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

remove close functionality
  src/scripts/create-ui.js
  src/scripts/global.js
  src/scripts/icons.js
  src/styles/index.scss
  src/styles/motion.scss
Due: eslint --fix, prettier --write

remove smooth scroll to top of page
  src/scripts/index.js
Due: eslint --fix, prettier --write

remove unused icons
  src/scripts/icons.js
Due: eslint --fix, prettier --write

use origEleString to determine duplicates
  public/index.html
  src/scripts/create-ui.js
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

change name to string
  src/scripts/create-card.js
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

still mistakes, but improved class creation
  public/extension/build.js
  public/index.html
  src/scripts/create-card.js
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

pass in an index for troubleshooting
  public/extension/build.js
  public/extension/gather.js
  src/scripts/find-svgs.js
  src/scripts/process-svgs.js
Due: eslint --fix, prettier --write

fucking async man
  public/extension/background.js
  public/extension/build.js
  public/extension/gather.js
  src/scripts/find-svgs.js
  src/scripts/index.js
  src/scripts/process-svgs.js
  webpack.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.{js,json,scss}
